In [23]:
import pandas as pd
import os

In [27]:
# Specify the directory containing your Excel file
directory = r'C:\Users\manda\Documents\Master thesis Data\NSW-Station-list'

# Specify the filename
filename = r'C:\Users\manda\Documents\Master thesis Data\NSW-Station-list.xlsx'  # Replace 'your_excel_file.xlsx' with the actual filename

# Construct the full file path
excel_file_path = os.path.join(directory, filename)

# Check if the file exists
if os.path.exists(excel_file_path):
    # Read the Excel file
    df = pd.read_excel(excel_file_path)
    # Display the contents of the Excel file
    print(df)
else:
    print(f"File '{filename}' not found in directory '{directory}'.")
    
# Read the second sheet from the Excel file
second_sheet_df = pd.read_excel(excel_file_path, sheet_name='Stations from 1800-1900')

# Display the contents of the second sheet
print(second_sheet_df)

       Site                                      Name      Lat       Lon  Sta  \
0     66046                                PARRAMATTA -33.8167  151.0000  Jan
1     74147                             COLOMBO CREEK -35.2000  146.0000  Sep
2     60026                  PORT MACQUARIE (HILL ST) -31.4399  152.9110  Jan
3     67058                       DURAL PUBLIC SCHOOL -33.7333  151.0833  Jul
4     66095                     SYDNEY (HORNBY LIGHT) -33.8333  151.2833  Jan
...     ...                                       ...      ...       ...  ...
5072  48255                   LIGHTNING RIDGE AIRPORT -29.4524  147.9796  Jul
5073  75178  MERRIWAGGA (OLD SCHOOL CARAVAN PARK) COM -33.8138  145.6278  Jul
5074  51165               QUAMBONE STATION COMPARISON -30.9260  147.8699  Jul
5075  48256        WEILMORINGLE (CARINGLE) COMPARISON -29.3515  146.8125  Jul
5076  70201                              GOOGONG HILL -35.4836  149.2356  Feb

        rt  End  Unnamed: 7  Years   % AWS
0     1832  Dec        1960   66.6  52   N
1     1835  Mar        1941   42.6  40   N
2     1841  Jul        2010  142.6  84   N
3     1842  Jan        1918   32.3  43   N
4     1843  Dec        1918   14.2  18   N
...    ...  ...         ...    ...  ..  ..
5072  2023  Apr        2024    0.8  89   N
5073  2023  Apr        2024    0.8  89   N
5074  2023  Apr        2024    0.8  89   N
5075  2023  Apr        2024    0.8  89   N
5076  2024  Apr        2024    0.3  63   N

[5077 rows x 11 columns]
       Site                      Name      Lat       Lon  Sta    rt  End  \
0     66046                PARRAMATTA -33.8167  151.0000  Jan  1832  Dec
1     74147             COLOMBO CREEK -35.2000  146.0000  Sep  1835  Mar
2     60026  PORT MACQUARIE (HILL ST) -31.4399  152.9110  Jan  1841  Jul
3     67058       DURAL PUBLIC SCHOOL -33.7333  151.0833  Jul  1842  Jan
4     66095     SYDNEY (HORNBY LIGHT) -33.8333  151.2833  Jan  1843  Dec
...     ...                       ...      ...       ...  ...   ...  ...
1406  70183      WINDELLIMA (BUDJONG) -35.0667  149.8833  Apr  1899  Nov
1407  51008           WYANGA (QUAMBI) -32.4577  148.1491  Feb  1899  Feb
1408  61082      WYEE (WYEE FARMS RD) -33.1793  151.4410  Mar  1899  May
1409  75133                    WYVERN -34.5500  145.7667  Aug  1899  Dec
1410  56149              YARROW CREEK -29.8000  152.0000  Jan  1899  Sep

      Unnamed: 7  Years   % AWS
0           1960   66.6  52   N
1           1941   42.6  40   N
2           2010  142.6  84   N
3           1918   32.3  43   N
4           1918   14.2  18   N
...          ...    ...  ..  ..
1406        1938   39.0  98   N
1407        2024  123.8  99   N
1408        2017  118.2  99   N
1409        1918   19.0  98   N
1410        1939   38.6  95   N

[1411 rows x 11 columns]

In [28]:
# Define the longitude range of the Great Dividing Range (GDR)
gdr_longitude_range = (146.85, 149.9833)  # From 146° 51' E to 149° 59' E

# Filter the DataFrame to include only the stations within or west of the GDR
stations_in_or_west_of_gdr = second_sheet_df[second_sheet_df['Lon'].astype(float) <= gdr_longitude_range[1]]

# Display the list of stations within or west of the GDR
print(stations_in_or_west_of_gdr)

       Site                  Name      Lat       Lon  Sta    rt  End  \
1     74147         COLOMBO CREEK -35.2000  146.0000  Sep  1835  Mar
7     70037              GOULBURN -34.7500  149.8667  Oct  1857  Apr
8     72001                ALBURY -36.1000  146.9000  Feb  1858  Jul
9     63004         BATHURST GAOL -33.4167  149.5500  Feb  1858  May
11    70023   COOMA LAMBIE STREET -36.2333  149.1167  Feb  1858  Apr
...     ...                   ...      ...       ...  ...   ...  ...
1403  75088  WAVERLEY (MOUNT IDA) -34.2167  145.7667  Jan  1899  Dec
1405  62064          WILBERTREE 1 -32.5500  149.5833  Nov  1899  Mar
1406  70183  WINDELLIMA (BUDJONG) -35.0667  149.8833  Apr  1899  Nov
1407  51008       WYANGA (QUAMBI) -32.4577  148.1491  Feb  1899  Feb
1409  75133                WYVERN -34.5500  145.7667  Aug  1899  Dec

      Unnamed: 7  Years   % AWS
1           1941   42.6  40   N
7           1967  103.3  94   N
8           1962   96.6  92   N
9           1983  121.4  97   N
11          1994  117.0  86   N
...          ...    ...  ..  ..
1403        1926   22.8  81   N
1405        1912   11.8  95   N
1406        1938   39.0  98   N
1407        2024  123.8  99   N
1409        1918   19.0  98   N

[1033 rows x 11 columns]

In [29]:

# Define the name of the new sheet
new_sheet_name = 'Stations_West_of_GDR'

# Save the filtered DataFrame to a new sheet in the Excel file
stations_in_or_west_of_gdr.to_excel(filename, sheet_name=new_sheet_name, index=False)

In [31]:
# Read the second sheet from the Excel file
third_sheet_df = pd.read_excel(excel_file_path, sheet_name='Maximum temperature')

# Display the contents of the second sheet
print(third_sheet_df)

     Site                                     Name      Lat       Lon  Sta  \
0   63004                            BATHURST GAOL -33.4167  149.5500  Jan
1   74128  DENILIQUIN (VISITOR INFORMATION CENTRE) -35.5283  144.9651  Feb
2   66062                SYDNEY (OBSERVATORY HILL) -33.8607  151.2050  Jan
3   48013                       BOURKE POST OFFICE -30.0917  145.9358  Apr
4   72151                  WAGGA WAGGA (KOORINGAL) -35.1333  147.3667  Nov
5   65016                     FORBES (CAMP STREET) -33.3892  148.0081  Apr
6   56017                      INVERELL COMPARISON -29.7783  151.1114  Feb
7   55023                            GUNNEDAH POOL -30.9841  150.2540  Dec
8   52026                    WALGETT COUNCIL DEPOT -30.0236  148.1218  Aug
9   46043                      WILCANNIA (REID ST) -31.5631  143.3747  Oct
10  48030                        COBAR POST OFFICE -31.5000  145.8000  Feb

      rt  End  Unnamed: 7  Years    % AWS
0   1858  May        1983  118.1   89   N
1   1858  Jun        2003  141.5   93   N
2   1859  Aug        2020  161.7  100   Y
3   1871  Aug        1996  124.3   98   N
4   1871  Dec        1950   77.7   93   N
5   1873  May        1998  122.1   96   N
6   1874  Nov        1997  122.6   98   N
7   1876  Dec        2011  128.8   87   N
8   1878  Jun        1993  113.7   97   N
9   1879  Jan        2015  130.5   95   N
10  1881  Dec        1965   78.2   91   N

In [32]:
# Define the longitude range of the Great Dividing Range (GDR)
gdr_longitude_range = (146.85, 149.9833)  # From 146° 51' E to 149° 59' E

# Filter the DataFrame to include only the stations within or west of the GDR
stations_in_or_west_of_gdr = third_sheet_df[third_sheet_df['Lon'].astype(float) <= gdr_longitude_range[1]]

# Display the list of stations within or west of the GDR
print(stations_in_or_west_of_gdr)

     Site                                     Name      Lat       Lon  Sta  \
0   63004                            BATHURST GAOL -33.4167  149.5500  Jan
1   74128  DENILIQUIN (VISITOR INFORMATION CENTRE) -35.5283  144.9651  Feb
3   48013                       BOURKE POST OFFICE -30.0917  145.9358  Apr
4   72151                  WAGGA WAGGA (KOORINGAL) -35.1333  147.3667  Nov
5   65016                     FORBES (CAMP STREET) -33.3892  148.0081  Apr
8   52026                    WALGETT COUNCIL DEPOT -30.0236  148.1218  Aug
9   46043                      WILCANNIA (REID ST) -31.5631  143.3747  Oct
10  48030                        COBAR POST OFFICE -31.5000  145.8000  Feb

      rt  End  Unnamed: 7  Years   % AWS
0   1858  May        1983  118.1  89   N
1   1858  Jun        2003  141.5  93   N
3   1871  Aug        1996  124.3  98   N
4   1871  Dec        1950   77.7  93   N
5   1873  May        1998  122.1  96   N
8   1878  Jun        1993  113.7  97   N
9   1879  Jan        2015  130.5  95   N
10  1881  Dec        1965   78.2  91   N

In [34]:
# Read the second sheet from the Excel file
fourth_sheet_df = pd.read_excel(excel_file_path, sheet_name='Minimum Temperature')

# Display the contents of the second sheet
print(fourth_sheet_df)

     Site                                     Name      Lat       Lon  Sta  \
0   63004                            BATHURST GAOL -33.4167  149.5500  Jan
1   74128  DENILIQUIN (VISITOR INFORMATION CENTRE) -35.5283  144.9651  Feb
2   66062                SYDNEY (OBSERVATORY HILL) -33.8607  151.2050  Jan
3   48013                       BOURKE POST OFFICE -30.0917  145.9358  Apr
4   72151                  WAGGA WAGGA (KOORINGAL) -35.1333  147.3667  May
5   65016                     FORBES (CAMP STREET) -33.3892  148.0081  Apr
6   56017                      INVERELL COMPARISON -29.7783  151.1114  Feb
7   55023                            GUNNEDAH POOL -30.9841  150.2540  Dec
8   52026                    WALGETT COUNCIL DEPOT -30.0236  148.1218  Aug
9   48030                        COBAR POST OFFICE -31.5000  145.8000  Feb
10  46043                      WILCANNIA (REID ST) -31.5631  143.3747  Apr

      rt  End  Unnamed: 7  Years    % AWS
0   1858  May        1983  118.1   89   N
1   1858  Jun        2003  141.1   93   N
2   1859  Aug        2020  161.7  100   Y
3   1871  Aug        1996  123.6   97   N
4   1871  Dec        1950   78.4   93   N
5   1873  May        1998  124.3   98   N
6   1874  Nov        1997  122.4   98   N
7   1876  Dec        2011  128.4   87   N
8   1878  Jun        1993  113.8   98   N
9   1881  Dec        1965   79.4   93   N
10  1881  Jan        2015  129.1   94   N

In [35]:
# Define the longitude range of the Great Dividing Range (GDR)
gdr_longitude_range = (146.85, 149.9833)  # From 146° 51' E to 149° 59' E

# Filter the DataFrame to include only the stations within or west of the GDR
stations_in_or_west_of_gdr = fourth_sheet_df[fourth_sheet_df['Lon'].astype(float) <= gdr_longitude_range[1]]

# Display the list of stations within or west of the GDR
print(stations_in_or_west_of_gdr)

     Site                                     Name      Lat       Lon  Sta  \
0   63004                            BATHURST GAOL -33.4167  149.5500  Jan
1   74128  DENILIQUIN (VISITOR INFORMATION CENTRE) -35.5283  144.9651  Feb
3   48013                       BOURKE POST OFFICE -30.0917  145.9358  Apr
4   72151                  WAGGA WAGGA (KOORINGAL) -35.1333  147.3667  May
5   65016                     FORBES (CAMP STREET) -33.3892  148.0081  Apr
8   52026                    WALGETT COUNCIL DEPOT -30.0236  148.1218  Aug
9   48030                        COBAR POST OFFICE -31.5000  145.8000  Feb
10  46043                      WILCANNIA (REID ST) -31.5631  143.3747  Apr

      rt  End  Unnamed: 7  Years   % AWS
0   1858  May        1983  118.1  89   N
1   1858  Jun        2003  141.1  93   N
3   1871  Aug        1996  123.6  97   N
4   1871  Dec        1950   78.4  93   N
5   1873  May        1998  124.3  98   N
8   1878  Jun        1993  113.8  98   N
9   1881  Dec        1965   79.4  93   N
10  1881  Jan        2015  129.1  94   N

In [43]:
import pandas as pd



# Merge the DataFrames on the common columns (e.g., 'Station ID', 'Name')
merged_df = pd.merge(rainfall_df, max_temp_df, on=['Site', 'Name'], how='inner')
merged_df = pd.merge(merged_df, min_temp_df, on=['Site', 'Name'], how='inner')



# Define the file path for the Excel file
output_excel_file_path = r'C:\Users\manda\Documents\Master thesis Data\NSW-Station-list.xlsx'
# Specify the directory containing your Excel file
directory = r'C:\Users\manda\Documents\Master thesis Data\NSW-Station-list'


# Define the name of the new sheet
new_sheet_name = 'Stations_1800_to_1900'

# Save the merged DataFrame to a new sheet in the Excel file
merged_df.to_excel(output_excel_file_path, sheet_name=new_sheet_name, index=False)

In [44]:
print(merged_df)

    Site                                     Name    Lat_x     Lon_x Sta_x  \
0  63004                            BATHURST GAOL -33.4167  149.5500   Feb
1  74128  DENILIQUIN (VISITOR INFORMATION CENTRE) -35.5283  144.9651   Feb
2  48013                       BOURKE POST OFFICE -30.0917  145.9358   Apr
3  72151                  WAGGA WAGGA (KOORINGAL) -35.1333  147.3667   May
4  65016                     FORBES (CAMP STREET) -33.3892  148.0081   Jul
5  52026                    WALGETT COUNCIL DEPOT -30.0236  148.1218   Aug
6  46043                      WILCANNIA (REID ST) -31.5631  143.3747   Jan
7  48030                        COBAR POST OFFICE -31.5000  145.8000   Feb

   rt_x End_x  Unnamed: 7_x  Years_x  %_x  ... AWS_y      Lat       Lon  Sta  \
0  1858   May          1983    121.4   97  ...     N -33.4167  149.5500  Jan
1  1858   Dec          2023    161.2   97  ...     N -35.5283  144.9651  Feb
2  1871   Aug          1996    124.1   99  ...     N -30.0917  145.9358  Apr
3  1871   Jun          1985     99.5   87  ...     N -35.1333  147.3667  May
4  1875   Jul          1998    122.8   99  ...     N -33.3892  148.0081  Apr
5  1878   Jan          2024    129.6   88  ...     N -30.0236  148.1218  Aug
6  1879   Feb          2024    143.3   99  ...     N -31.5631  143.3747  Apr
7  1881   Dec          1965     84.5   99  ...     N -31.5000  145.8000  Feb

     rt  End  Unnamed: 7  Years   % AWS
0  1858  May        1983  118.1  89   N
1  1858  Jun        2003  141.1  93   N
2  1871  Aug        1996  123.6  97   N
3  1871  Dec        1950   78.4  93   N
4  1873  May        1998  124.3  98   N
5  1878  Jun        1993  113.8  98   N
6  1881  Jan        2015  129.1  94   N
7  1881  Dec        1965   79.4  93   N

[8 rows x 29 columns]